.cart-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;
    border-bottom: 1px solid grey;


    .cart-heading {
        
    }



    .image img {
        border-radius: 50%;
        padding: 0px 28px 0px 0px;
    }


    .heading-container {
        position: relative;
        right: 32px;



        .product-name {
            font-size: 16px;
            font-weight: 700;
            width: 225px;
            font-family: "HM Sans Semi Bold", "HMSansHebrew-SemiBold", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        }


        .product-category {
            font-size: 12px;
            font-weight: 600;
            font-family: "HM Sans Semi Bold", "HMSansHebrew-SemiBold", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        }
    }


    .qty-container {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        width: 70px;


        .number {
            border: 1.5px solid black;
            width: 16px;
            font-size: 13px;
            text-align: center;
            font-weight: 700;
            font-family: "HM Sans Semi Bold", "HMSansHebrew-SemiBold", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        }


        .decrease-icon {
            cursor: pointer;
        }

        .increase-icon {
            cursor: pointer;
        }
    }

    .price {
        width: 70px;
    }


    .dustbin-icon {
        cursor: pointer;
    }
}


.checkout-btn {
    padding: 15px 225px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: black;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
}