.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    // background-color: rgba(255, 0, 0, 0.466);
    // border-bottom: 1px solid black;

    .posters {
        width: 58%;
        margin: 5px auto;
        // border: 1px solid gray;
        
    }

}