.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    .posters {
        width: 100%;        
    }

}



.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    position: relative;
    top: 20px;
    width: 170px;
    margin: 0px auto;
    box-shadow: 3px 3px 3px black;
    
}

.container {
    width: 100%;
    overflow-x: hidden;
}