.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;

    .posters {
        width: 100%;
        // margin: 5px auto;
        
    }

}



.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    position: relative;
    top: 27px;
    width: 200px;
    margin: 0px auto;
    box-shadow: 3px 3px 3px black;
    
}