.cards-container {
    margin: 10px auto;


    .card {
        margin: 50px auto;

        .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;

        }

    }

}

.no-result-warning {
    padding: 30px 0px;
    position: relative;
    left: 683px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: HM Sans Regular, HMSansHebrew-Regular, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Osaka, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
}