.navbar {
    // border-bottom: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 50px;
    padding: 0px 30px;
    position: fixed;
    top: 0;
    width: 1459px;
    z-index: 100;

    .nav-options {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;



        .cart {
            color: white;
            height: 25px;
            width: 25px;
            cursor: pointer;

        }


        .wishlist {
            color: white;
            height: 25px;
            width: 25px;
            cursor: pointer;
        }


        .search-container {
            display: flex;
            column-gap: -10px;
            border-bottom: 1px solid white;

            .search-bar {
                outline: none;
                background-color: transparent;
                border: none;
                color: white;
                font-size: 20px;
            }


            .search-icon {
                color: white;
                height: 25px;
                width: 25px;
                cursor: pointer;
            }
        }



    }


    h3 {
        color: white;
        color: red;
        font-size: 1.5rem;
        font-family: "HM Sans Semi Bold", "HMSansHebrew-SemiBold", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    }
}